# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl

# Arquivos de variáveis que podem conter secrets
*.tfvars.json

# Logs
*.log

# Arquivos locais de IDEs (ajuste conforme sua IDE)
.vscode/
.idea/

# Helm
charts/
*.tgz

# Kubernetes
*.kubeconfig

# Arquivos gerados
*.backup